.table-container {
    width: 100%; /* Make sure the container takes up the full width */
    overflow-x: auto; /* Enable horizontal scrolling if content overflows */
  }
  
  table.mat-table {
    width: 100%; /* Make sure the table takes up the full width of its container */
  }

  /* Example custom styling */
mat-form-field {
  width: 300px;
  margin-bottom: 20px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.input-button-container {
  display: flex;
  align-items: center;
  gap: 10px; /* Ajusta el valor según tus necesidades */
}
