<div class="table-container2">
  <form class="example-form">
    <div class="input-button-container">
      <mat-form-field appearance="outline">
        <mat-label>Ingresar Id empleado</mat-label>
        <input matInput placeholder="Id" name="idEmployee" [(ngModel)]="idEmployee">
      </mat-form-field>

      <button mat-raised-button color="primary" (click)="searchEmpleyee()">Buscar</button>
    </div>
  </form>

  <div *ngIf="showSpinner" class="loading-overlay">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
<div class="table-container" *ngIf="clickButton">
  <table mat-table [dataSource]="data" class="mat-elevation-z8">
    <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
      <th mat-header-cell *matHeaderCellDef> {{ column | titlecase }} </th>
      <td mat-cell *matCellDef="let element"> {{ element[column] }} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
  